@import "tailwindcss";
@config "../tailwind.config.js";

* {
  box-sizing: border-box;
}

body {
  background: #0f0f0e;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}
